body{
}

#container{
    display: flex;
    vertical-align: center;
    width: 500px;
    height: 450px;
    background-color: darkslategrey;
    border-radius: 10px;
}

#islemKismi{
    width: 450px;
    height:70px;
    background-color: white;
    border-radius: 10px;
}